{% extends "mbase.html" %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">欢迎您使用化妆品数据分析平台</h3>
            </div>
        </div>
        <p style="text-indent: 2em; font-size: 18px;">
            近年来，中国化妆品行业发展的特点表现在以下几个方面：中国的化妆品市场整体生产快速发展，效益持续增长；出口创汇增长加快，进口数额快速回升；化妆品产品质量良莠不齐，美容院用产品质量令人忧；政府相继出台多项法规强化化妆品的管理；国际大品牌国内受阻，本土品牌借势坚挺市场；受到多方面的因素影响美容专业线发展不理想；男士化妆品发展提速，市场占有份额依然偏小；儿童化妆品市场发展迅速，品种和花样在不断增加；护肤护发品消费税取消化妆品多方面得到发展。
        </p>
         <p style="text-indent: 2em; font-size: 18px;">
          传统意义的企业管理平台，是通过手工、电脑、内部网、独立的管理系统、OA等相结合的方式来构建的，这个比起最原始的纯手工的企业管理平台，有了相当大的进步，不但提高了管理的效率，而且科学管理也得到了空前的应用。而今天的管理信息化又有了长足的进步，我们可以称之为现代管理信息化。因此，从这个意义上讲，管理信息化实际上就是为企业构建一个管理平台，是利用现代的信息技术，通过网络环境和管理应用来搭建一个符合时代潮流的管理平台，以满足企业对自身管理的需求。管理信息化本身是信息技术的应用，它不是技术、不是管理也不是工具。但是，它能够构建起一个体系，让企业的管理在这个体系中高效运作。

         </p>
        </div>

{% endblock %}